<h1 class="m-2">All Flats</h1>
<% @flats.each do |flat| %>
    <div class="card p-3 m-2">
      <h3> <%= link_to "#{flat.name}", flat_path(flat.id) %> </h3>
      <p> <%= flat.address %> </p>
      <p> <%= flat.description %> </p>
      <p> <%= flat.price_per_night %> </p>
      <p> <%= flat.number_of_guests %> </p>
    </div>
<% end %>
